<div id="container">
  <img src="../../../assets/images/logo.png" id="logo"/>
  <div id="btnBox">
    <div id="explorer">
      <img src="../../../assets/images/popCorn.png"/>
      <a>Explorar</a>
    </div>
    <div id="explorer">
      <img src="../../../assets/images/movie.png"/>
      <a>Meus Filmes</a>
    </div>
  </div>

<div id="userBox">
  <p>Olá, Jordan</p>
  <div id="userImg">
    <img src="../../../assets/images/user.png"/>
  </div>
  <div id="line"></div>
  <div id="boxOutSide" >
    <img src="../../../assets/images/outSide.png"/>
  </div>
</div>

</div>
