
<app-header></app-header>

<div class="container">

  <div id="BaseBox">
    <h1>Explorar</h1>
    <div id ="search">
      <img src="../../../assets/images/lupa.png"/>
      <input type="text" placeholder="Pesquisar filme"  [(ngModel)]="searchQuery" />
    </div>
  </div>


    <div id="movieList" *ngIf="searchQuery === ''">
      <div class="movieCard" *ngFor="let movie of popularMovies"[routerLink]="['/details', movie.id]">
       <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" id="movie"/>
        <div class="Point">
          <p>{{ movie.vote_average | number:'1.1-1' }}</p>
          <p>/ 10</p>
          <img src="../../../assets/images/star.png"/>
        </div>
        <div class="overlay">
          <p class="title">{{ movie.title }}</p>
          <div class="info">
            <p>•</p>
            <p>{{ movie.release_date | date:'yyyy' }}</p>
          </div>
        </div>
       </div>






    </div>
  <div class="no-results" *ngIf="searchQuery !== ''">
    <div class="no-results-content">
      <img src="../../../assets/images/frameMovie.png" alt="No results icon" />
      <p>Nenhum filme encontrado com "{{ searchQuery }}"</p>
      <p>Que tal tentar outra busca?</p>
      <button (click)="clearSearch()">Limpar filtro</button>
    </div>
  </div>

</div>
