<app-header></app-header>

<div id="container">

  <div id="box">

    <div id="cadImage">
      <img src="../../../assets/images/deedPool.png"/>
    </div>

    <div id="cardInfo">

      <div id="back" routerLink="/">
        <img src="../../../assets/images/arrowllefth.png"/>
        <p>Voltar</p>
      </div>

      <h2 id="title">Deadpool & Wolverine</h2>

      <div id="info">
        <div class="infoR">
          <p class="infoBold">Categoria:</p>
          <p class="infoNormal">Drama</p>
        </div>
        <div class="infoR">
          <p class="infoBold">Ano:</p>
          <p class="infoNormal">2023</p>
        </div>
      </div>

      <div id="roting">
        <img src="../../../assets/images/stars.png"/>
        <h2>4</h2>
        <p>(5 avaliações)</p>
      </div>

       <div id="description">
        <p>Do cineasta Yorgos Lanthimos e da produtora Emma Stone, vem o conto incrível e a evolução fantástica de Bella Baxter (Stone), uma jovem mulher trazida de volta à vida pelo brilhante e pouco ortodoxo cientista Dr. Godwin Baxter (Willem Dafoe). Sob a proteção de Baxter, Bella está ansiosa para aprender. Faminta pela mundanidade que lhe falta, Bella foge com Duncan Wedderburn (Mark Ruffalo), um advogado astuto e depravado, em uma aventura relâmpago pelos continentes. Livre dos preconceitos de sua época, Bella se torna firme em seu propósito de defender a igualdade e a libertação.</p>
      </div>
      
    </div>
  </div>
</div>
