<app-header></app-header>

<div id="container"
*ngIf="movieDetails"
[style.--bg-url]="'url(' + 'https://image.tmdb.org/t/p/w1280' + movieDetails.poster_path + ')'"
>

  <div id="box">

    <div id="cadImage">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path"/>
    </div>

    <div id="cardInfo">

      <div id="back" routerLink="/">
        <img src="../../../assets/images/arrowllefth.png"/>
        <p>Voltar</p>
      </div>

      <h2 id="title">{{ movieDetails.title }}</h2>

      <div id="info">
        <div class="infoR">
          <p class="infoBold">Categoria:</p>
          <p class="infoNormal">{{ movieDetails.genres[0].name }}</p>
        </div>
        <div class="infoR">
          <p class="infoBold">Ano:</p>
          <p class="infoNormal">{{ movieDetails.release_date | date: 'yyyy' }}</p>
        </div>
      </div>

      <div id="roting">
        <img src="../../../assets/images/stars.png"/>
        <h2>{{ movieDetails.vote_average | number:'1.1-1' }}</h2>
        <p>({{ movieDetails.vote_count }} avaliações)</p>
      </div>

       <div id="description">
        <p>{{ movieDetails.overview }}</p>
      </div>

    </div>
  </div>
</div>
